.header {
  /* display: inline-block; */
  height: 25vh;
  width: 100vw;
  background-color: rgb(126, 125, 125);
  color: ivory;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.header__title {
  text-transform: lowercase;
  font-family: monospace;
  font-size: 3rem;
  color: rgba(255, 94, 0, 0.788);
  margin: 2rem auto 0.5rem auto;
}

.header__sub {
  font-style: italic;
  text-transform: lowercase;
  font-family: monospace;
}

.form {
  display: grid;
  grid-template-columns: 70vw 30vw;
  background-color: ivory;
  width: 100vw;
  margin: auto;
  height: 12vh;
}

.form__input {
  place-items: center;
  margin: auto;
  width: 80%;
  height: 2rem;
  border: 2px solid rgba(255, 94, 0, 0.788);
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  font-family: monospace;
}

.form__btn {
  place-items: center;
  font-size: 2rem;
  padding: 0;
  border-style: none;
  background-color: ivory;
}

.loading {
  padding: 2rem;
  margin: 1rem;
  border: 2px solid rgba(255, 94, 0, 0.788);
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  background-color: ivory;
  font-family: monospace;
}

.card {
  margin: auto;
  border: 2px solid rgba(255, 94, 0, 0.788);
  border-radius: 5px;
  width: 85%;
  padding: 0;
}

.card__img {
  width: 33%;
  float: right;
  margin: 1rem;
}
